.enrollment-policies-container {
    width: 100%;
    height: auto;
    min-height: 30vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.enrollment-policies-page-title {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.enrollment-policies-page-title h1 {
    font-size: 3rem;
}

.enrollment-policies-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.lottery-exemptions-list {
    list-style: none;
    padding-left: 0;
}

.lottery-exemptions-list {
    list-style: none;
    padding-left: 1.5em;
    margin-top: 10px;
}

.lottery-exemptions-list li::before {
    content: '★';
    color: #f4c542;
    font-weight: bold;
    display: inline-block;
    width: 1.2em;
    margin: 15px 0;
    margin-left: -1.2em;
}


@media (max-width: 1400px) {
    .enrollment-policies-content {
        height: auto;
    }
}

@media (max-width: 768px) {
    .admissions-and-lottery-page-title h1 {
        font-size: 2.0rem;
    }
    .admissions-and-lottery-content, .enrollment-policies-content p {
        font-size: 1.0rem;
    }
}

@media (max-width: 450px) {
    .enrollment-policies-page-title h1 {
        font-size: 2.0rem;
    }
    .enrollment-policies-content, .enrollment-policies-content p {
        font-size: 0.9rem;
    }
}