.individual-schools-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 200px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.individual-schools-page-title {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.individual-schools-page-title h1 {
    font-size: 3.0rem;
}

.individual-schools-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    padding-bottom: 80px;
}

@media (max-width: 1400px) {
    .individual-schools-content {
        height: auto;
    }
}