.legacy-after-school-enrichment-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.legacy-after-school-enrichment-page-title {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.legacy-after-school-enrichment-page-title h1 {
    font-size: 3.0rem;
}

.legacy-after-school-enrichment-content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    padding-bottom: 80px;
}

.legacy-after-school-enrichment-content p {
    width: 100%;
    margin: 10px auto;
    font-size: 1.6rem;
    text-align: left;
}

.enrichment-list {
  list-style: none;
  padding-left: 0;
}

.enrichment-list > li > strong::before {
    content: '★ ';
    color: #f5a623; /* gold star */
    font-weight: bold;
    margin-right: 0.3rem;
}

.enrichment-list > li {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.enrichment-list ul {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  font-weight: normal;
}

@media (max-width: 1400px) {
    .legacy-after-school-enrichment-content {
        height: auto;
    }
}
@media (max-width: 450px) {
    .legacy-after-school-enrichment-page-title h1 {
        font-size: 2.0rem;
    }
    .legacy-after-school-enrichment-content, .legacy-after-school-enrichment-content p {
        font-size: 1.0rem;
    }
}