.segue-pledge-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;       /* centers horizontally */
    justify-content: center;   /* centers vertically if you give it a height */
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.segue-pledge-page-title {
    width: 80%;
    margin: 0 auto;
    font-family: 'impact', sans-serif;
    font-size: 2.5rem;
    text-align: left;
}


.segue-pledge-title {
  font-family: 'Playbill', sans-serif; /* Use a font that resembles the original */
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(128, 0, 0); /* Dark red color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
}

.segue-pledge-text {
  font-size: 32px;
  width: 100%;
  max-width: 900px;
  line-height: 2.5;
}

@media (max-width: 768px) {
  .segue-pledge-title {
    font-size: 50px; /* Adjust for smaller screens */
  }
  
  .segue-pledge-text {
    font-size: 16px; /* Adjust for smaller screens */
  }
}

@media (max-width: 450px) {
  
  .segue-pledge-text {
    font-size: 11.8px; /* Further adjust for very small screens */
    line-height: 1.8; /* Adjust line height for better readability */
  }
}