.fitness-and-wellness-programs-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.fitness-and-wellness-programs-page-title {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.fitness-and-wellness-programs-page-title h1 {
    font-size: 3.0rem;
}

.fitness-and-wellness-programs-content {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    height: auto;
    padding-bottom: 80px;
}

.fitness-and-wellness-programs-content p {
    width: 80%;
    margin: 10px auto;
    font-size: 1.6rem;
    text-align: left;
}

.program-box {
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1.5rem 0;
}

.program-box h3 {
    margin-bottom: 0.5rem;
}


@media (max-width: 1400px) {
    .fitness-and-wellness-programs-content {
        height: auto;
    }
}

@media (max-width: 450px) {
    .fitness-and-wellness-programs-page-title h1 {
        font-size: 2.0rem;
    }
    .fitness-and-wellness-programs-content p {
        font-size: 1.0rem;
    }
}