.curriculum-approach-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    height: auto;
    align-items: center;
    padding: 20px;
}

@media (max-width: 1000px) {
    .curriculum-approach-container p {
        font-size: 1.2rem;
    }
}