.enrollment-information-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    height: auto;
    padding: 20px;
}

.enrollment-information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Text | Image */
    gap: 20px;
    align-items: center;
}

.enrollment-information-text p {
    font-size: 1.6rem;
    margin: 0 auto;
}

.enrollment-information-image {
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 8px;
}

.enrollment-information-image img {
    max-width: 75%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Mobile: stack vertically */
@media (max-width: 1000px) {
    .enrollment-information-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .enrollment-information-text p {
        text-align: center;
        font-size: 1.2rem;
    }
}
