.legacy-high-school-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: 'Montserrat', sans-serif;
}
.legacy-high-school-page-title {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.legacy-high-school-page-title h1 {
    font-size: 3.0rem;
}

.legacy-high-school-content {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    height: auto;
    padding: 20px;
}

.curriculum-approach-content {
    background-color: #febd5a;
}

.community-partnerships-content {
    background-color: #a5837f;
}

@media (max-width: 1400px) {
    .legacy-high-school-content {
        height: auto;
    }
}

@media (max-width: 450px) {
    .legacy-high-school-page-title h1 {
        font-size: 2.0rem;
    }
    .legacy-high-school-container {
        font-size: 1.2rem;
    }
}

