.vision-values-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6rem;
    height: auto;
    padding: 20px;
}

.vision-values-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Text | Image */
  align-items: center;
}

.vision-values-text p {
  font-size: 1.6rem;
  margin: 0 auto;
}

.vision-values-image {
  display: flex;
  justify-content: center;
  height: auto;
  border-radius: 8px;
  padding: 20px;
}

.vision-values-image img {
    width: 100%;
    height: auto;
    max-width: 50%;
    border-radius: 8px;
}

/* Mobile: stack vertically */
@media (max-width: 1000px) {
  .vision-values-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .vision-values-text p {
    text-align: center; /* or center if you prefer */
    font-size: 1.2rem;
  }
}

