.home-news-container {
    width: 100%;
    height: auto; /* Full height of the viewport */
    align-items: flex-start;  /* align children at top */
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}


.home-news-container h3 {
    color: rgb(128, 0, 0);
    font-weight: bold;
}