.home-news-container {
    width: 100%;
    height: auto;
    align-items: flex-start;  /* align children at top */
    display: flex;
    background-color: rgb(255, 255, 255);
}

.home-news-section {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh; /* Limit height to prevent overflow */
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.home-news-image {
    width: 100%;
    height: auto;
    max-height: 60vh; /* Limit height to prevent overflow */
}

.facebook-livefeed-container {
    flex-grow: 1;
    width: 30%;
    min-height: 70vh;
    height: auto;
    max-height: 70vh; /* Limit height to prevent overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.facebook-livefeed-container h1,
.facebook-livefeed-container p {
    margin: 10px;
}



@media (max-width: 768px) {
    .home-news-container {
        flex-direction: column;
        height: auto;
    }

    .facebook-livefeed-container {
        width: 100%;
        min-height: 0;
        border-left: none;
    }

    .home-news-section,
    .facebook-livefeed-container {
        width: 100%;
    }
}

/***** THIS IS FOR TESTING, CAN AND WILL BE REMOVED LATER *****/

.home-news-text {
    width: 100%;
  height: 200px;
  border-top: 2px solid #000;    /* top border */
  padding: 20px;                 /* some space inside */
  box-sizing: border-box;        /* so padding doesn't add to height */
}